<h1>Editing product checkout detail</h1>

<%= render "form", product_checkout_detail: @product_checkout_detail %>

<br>

<div>
  <%= link_to "Show this product checkout detail", @product_checkout_detail %> |
  <%= link_to "Back to product checkout details", product_checkout_details_path %>
</div>
