<h1>Editing user receipt</h1>

<%= render "form", user_receipt: @user_receipt %>

<br>

<div>
  <%= link_to "Show this user receipt", @user_receipt %> |
  <%= link_to "Back to user receipts", user_receipts_path %>
</div>
