
.item {
  max-width: 60rem;
  max-height: 40rem;
}

img {
  border-radius: 9px;
}

.content-container {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.603),
      rgba(34, 34, 34, 0.603)
    ),
    url("assets/meal-9.jpg");
  background-size: cover;
}

.box-content {
  width: 1400px;
  background: rgb(256, 256, 256, 0.9);
  position: absolute;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  top: 45%;
  right: 50%;
  border: 1px solid #ccc;
  padding: 20px;
  transform: translate(50%, -40%);
  height: 400px;
}
.component-arrangement {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 5rem;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.meal-attribute-info {
  font-weight: 500;
}

.meal-info-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px dashed #c4c4c4;
}

.meal-info {
  font-size: 2rem;
  line-height: 2.3rem;
}
.meal-name {
  font-size: 3rem;
  font-weight: 600;
}

.meal-price {
  font-size: 2rem;
  font-weight: 600;
}

.btn:link,
.btn:visited {
  margin-top: 1rem;
  width: 30rem;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  font-size: 1.7rem;
  padding: 15px 12px;
}
.two-buttons-container {
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: #cf711f;
  color: #fff;
}
.btn:hover,
.btn:active {
  background-color: #cf711f;
  color: #fff;
}
#btn--red {
  background-color: #f03e3e;
  color: #fff;
}

#btn--red:hover,
#btn--red:active {
  background-color: #c92a2a;
  color: #fff;
}

ol,
ul {
  padding: 0;
}

.rating-description {
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
}
form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: #000;
  border: 1px solid #333;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus {
  border-color: #444;
}

.submit--btn {
  background-color: #cf711f;
  color: #fff;
  margin-top: 1rem;
  width: 20rem;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  font-size: 1.7rem;
  padding: 15px 12px;
  border: none;
}

.cart--info--backlink:link,
.cart--info--backlink:visited {
  margin-left: 150px;
  display: inline-block;
  padding-top: 70px;
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
}

.cart--info--backlink:hover,
.cart--info--backlink:active {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}
