<header class="header margin-bottom-md ">
      <a href="/products" class="main-nav-link" style="font-size: 3rem;">
        Fastfood
      </a>

      <nav class="main-nav">
        <ul class="main-nav-list">
          <li><a class="main-nav-link show-modal" style="font-weight: 500">Manage account</a></li>
          <li><a class="main-nav-link" href="/user_receipts">Order history</a></li>
          <li><a class="main-nav-link" href="/change_password">Change password</a></li>
          <% if logged_in? %>
          <li><%= link_to 'Log out', logout_path, data: {"turbo-method": :delete}, class: "main-nav-link", method: :post %></li>
          <% else %>
          <li>
            <div><%= link_to 'LOGIN', login_path, class: "main-nav-link"  %></div>
          </li>
          <% end %>
          <li><a class="main-nav-link" href="favourites">Favourites</a></li>
          <li><a class="main-nav-link nav-cta" href="/cart">Your Cart</a></li>
        </ul>
      </nav>

      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
