<header class="header margin-bottom-md ">
    <% if logged_in? %>
        <% if current_user.admin == false %>
              <a href="/products" class="main-nav-link" style="font-size: 3rem;">
                Fastfood
              </a>
         <% else %>
              <a href="/manage_products" class="main-nav-link" style="font-size: 3rem;">
                Dashboard
              </a>
         <% end %>
    <% else %>
        <a href="/products" class="main-nav-link" style="font-size: 3rem;">
                Fastfood
        </a>
    <% end %>
      <nav class="main-nav">
        <ul class="main-nav-list">
          
          <% if logged_in? %>
              <% if current_user.admin == false %>
                  <li><%= link_to 'Log out', logout_path, data: {"turbo-method": :delete}, class: "main-nav-link", method: :post %></li>
                  <li><a class="main-nav-link" style="font-weight: 500" href="/manage_account">Manage account</a></li>
                  <li><a class="main-nav-link" href="/user_receipts">Order history</a></li>
                  <li><a class="main-nav-link" href="/change_password">Change password</a></li>
                  <li><a class="main-nav-link" href="favourites">Favourites</a></li>
                  <li><%= link_to 'Your cart', cart_path, class: "main-nav-link nav-cta"  %></li>
              <% else %>
                  <li><%= link_to 'Log out', logout_path, data: {"turbo-method": :delete}, class: "main-nav-link", method: :post %></li>
                  <li><a class="main-nav-link" style="font-weight: 500" href="/manage_products">Manage Products</a></li>
                  <li><a class="main-nav-link" href="/manage_orders">Orders</a></li>
                  <li><a class="main-nav-link" href="/manage_categories">Manage Categories</a></li>
              <% end %>
          <% else %>
          <li>
            <div><%= link_to 'LOGIN', login_path, class: "main-nav-link"  %></div>
          </li>
          <% end %>
          
          
        </ul>
      </nav>

      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
