
        <style>
        @keyframes myAnimation{
      0%{
        opacity: 1;
        
      }
      50%{
        opacity: 0.8;
        
      }
      100%{
        display: none;
        opacity: 0;
        
      }
    }
    
    #myelement{
        z-index: 1000;
        background-color: #b2f2bb;
        padding: 25px 50px;
        animation-name: myAnimation;
        animation-duration: 3500ms;
        animation-fill-mode: forwards;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 30px;
    }
    
    body {
        position: relative;
    }
    </style>
  <% flash.each do |name, msg|%>
    <div id="myelement">
        <%= msg %>
    </div>
   


  <% end %>
